body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../public/sfondo.jpg') repeat;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 10px; /* Aggiungi margine sopra il contenitore principale */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: darkslategrey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  max-width: 960px;
  margin: 0 auto;

}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  color: wheat;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0 5px; /* Aggiungi spazio tra i pulsanti */
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: darkslategrey;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 52px;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  color: #666;
  max-width: 600px;
}

.description-image {
  max-width: 200px; /* Larghezza massima dell'immagine */
  height: auto; /* Altezza automatica in base alla larghezza */
  border-radius: 5px; /* Bordi arrotondati all'immagine */
}

.footer {
  background-color: darkslategrey;
  color: white;
  padding: 10px 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footer .social-icon {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.footer .social-icon:hover {
  text-decoration: underline;
}

