body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../public/sfondo.jpg') repeat;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 10px; /* Aggiungi margine sopra il contenitore principale */
}
