html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.image {
  background-image: url('../../assets/fotoSonno4.jpg'); /* Percorso relativo all'immagine */
  background-repeat: repeat; /* Fa in modo che l'immagine si ripeta */
  background-size: auto; /* Mantiene la dimensione originale dell'immagine */
  background-position: top left; /* Posiziona l'immagine a partire dall'angolo in alto a sinistra */
  min-height: 100vh; /* Assicura che il contenitore copra tutta l'altezza della finestra */
  color: white; /* Cambia il colore del testo per migliorare la leggibilità */
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 50px 0;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
}

.image-placeholder {
  width: 300px;
  height: 300px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.body-text {
  max-width: 600px;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  margin-top: 50px;
}

.footer a {
  margin: 0 10px;
}
